name: Build PHP to HTML

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: PHP kur
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: HTML üret
        run: |
          php search.php > dist/index.html

      - name: GH Pages branch'ine gönder
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: dist
